html {
  display:flex;
  flex-direction: column;
}


body {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
  }

#title {
  margin: 50px;
  font-size: 130px;
  text-transform: uppercase;
}

#subtitle {
  margin: 50px;
  font-size: 30px;
  text-transform: uppercase;
}

#hdr {
  margin: 100px;
  font-size: 30px;
  text-transform: uppercase;
}

#txt {
    margin: 100px;
    font-size: 18px;
}

#txt2 {
  margin: 100px;
  font-size: 18px;
  color: black;
}

#txtblack {
  margin: 100px;
  font-size: 18px;
  color: black;
}

#arrow {
  text-align: center;
  font-size: 100px;
}

img {
    max-block-size: 450px;
    border-radius: 15px;
}

#space {
    color: rgba(0, 0, 0, 0);
    font-size: 30px;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
}

.gallery-container1 {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    scale: 0.5;
    margin-bottom: 0px;
  }

  .gallery-container2 {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    margin-bottom: 0px;
    margin-top: 40px;
  }

  .gallery-container3 {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    margin-bottom: 0px;
    margin-top: 40px;
    background-color: white;
  }


  